<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :note_label %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :note_content %>
  </div>

  <div class="field">
    <%= form.label :time_stamp %>
    <%= form.datetime_select :time_stamp, id: :note_time_stamp %>
  </div>

  <div class="field">
    <%= form.label :index %>
    <%= form.number_field :index, id: :note_index %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level, id: :note_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
