<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @note.label %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>Time stamp:</strong>
  <%= @note.time_stamp %>
</p>

<p>
  <strong>Index:</strong>
  <%= @note.index %>
</p>

<p>
  <strong>Level:</strong>
  <%= @note.level %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
