<!DOCTYPE html>
<html>
  <head>
    <title>Illuminote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--idk if this actually works-->
    <%= javascript_include_tag('https://cdn.quilljs.com/1.1.9/quill.js') %>
    <script src="https://cdn.quilljs.com/1.1.9/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.1.9/quill.snow.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
